<!-- Logo -->
<body>

  <!-- NavBar -->
<div style="height: 20px;"></div>
<div style="padding: 20px;">


<!-- Buttons -->
<div id="myBtnContainer">
  <%= link_to "Flight Time", drones_path(sort_by: "flight_time"), class: "btn" %>
  <%= link_to "Max Altitude", drones_path(sort_by: "max_altitude"), class: "btn" %>
  <%= link_to "Max Wind Resistance", drones_path(sort_by: "max_wind_resistance"), class: "btn" %>
  <%= link_to "Max Camera Resolution", drones_path(sort_by: "max_resolution"), class: "btn" %>
  <%= link_to "Max Flight Distance", drones_path(sort_by: "max_flight_distance"), class: "btn" %> <!-- filtrer prix croissant -->
  <%= link_to "Price per day", drones_path(sort_by: "price_per_day"), class: "btn" %>
</div>

<!-- Espacement -->
<div style="height: 20px;"></div>
<div style="padding: 20px;">

<div class="drone-list">
  <% @drones.each do |drone| %>
    <div class="drone">
      <img src="https://i.ibb.co/fVT07rHk/449759-240716-1519-location-autre-src.jpg" alt="<%= drone.name %>">
      <h3><%= drone.name %></h3>
      <p><%= drone.description %></p>
     <p>Flight Time: <%= drone.flight_time %></p>
     <p>Max Altitude: <%= drone.max_altitude %></p>
     <p>Max Wind Resistance: <%= drone.max_wind_resistance %></p>
     <p>Max Camera Resolution: <%= drone.max_resolution %></p>
     <p>Max Flight Distance: <%= drone.max_flight_distance %></p>
     <p>Price per day: <%= drone.price_per_day%></p>
     <%= link_to "More details", drone_path(drone), class: "btn btn-flat" %>
    </div>
  <% end %>
</div>
