<!-- Logo -->
<body>
  <!-- NavBar -->
<div style="height: 20px;"></div>
<div style="padding: 20px;">

<div class="row">
  <div class="col-6">
    <%= render "slider", maximum: @price_per_day_max, median:@price_per_day_median %>
  </div>
</div>
<!-- Buttons -->
<div id="myBtnContainer">
   <%= link_to "Flight Time #{params[:sort_by] == 'flight_time' && params[:order] == 'asc' ? '⬇' : '⬆'}", drones_path(sort_by: "flight_time", order: params[:order] == "asc" ? "desc" : "asc"), class: "btn btn-primary btn-lg", role: "button", "aria-pressed": "true", id: "flight_time_button" %>
   <%= link_to "Max Altitude #{params[:sort_by] == 'max_altitude' && params[:order] == 'asc' ? '⬇' : '⬆'}", drones_path(sort_by: "max_altitude", order: params[:order] == "asc" ? "desc" : "asc"), class: "btn btn-primary btn-lg", role: "button", "aria-pressed": "true", id: "max_altitude_button" %>
   <%= link_to "Max Wind Resistance #{params[:sort_by] == 'max_wind_resistance' && params[:order] == 'asc' ? '⬇' : '⬆'}", drones_path(sort_by: "max_wind_resistance", order: params[:order] == "asc" ? "desc" : "asc"), class: "btn btn-primary btn-lg", role: "button", "aria-pressed": "true", id: "max_wind_resistance_button" %>
   <%= link_to "Max Resolution Button #{params[:sort_by] == 'max_resolution' && params[:order] == 'asc' ? '⬇' : '⬆'}", drones_path(sort_by: "max_resolution", order: params[:order] == "asc" ? "desc" : "asc"), class: "btn btn-primary btn-lg ", role: "button", "aria-pressed": "true", id: "max_resolution_button" %>
   <%= link_to "Max Flight Distance #{params[:sort_by] == 'max_flight_distance' && params[:order] == 'asc' ? '⬇' : '⬆'}", drones_path(sort_by: "max_flight_distance", order: params[:order] == "asc" ? "desc" : "asc"), class: "btn btn-primary btn-lg ", role: "button", "aria-pressed": "true", id: "max_flight_distance" %><!-- filtrer prix croissant -->
  <%= link_to "Price per Day #{params[:sort_by] == 'price_per_day' && params[:order] == 'desc' ? '⬆' : '⬇'}", drones_path(sort_by: "price_per_day", order: params[:order] == "asc" ? "desc" : "asc"), class: "btn btn-primary btn-lg ", role: "button", "aria-pressed": "true", id: "price_per_day_button" %>
</div>
<!-- Espacement -->
<div style="height: 20px;"></div>
<div style="padding: 20px;">

<div class="drone-list">
  <% @drones.each do |drone| %>
    <div class="drone">
      <% if drone.photo.attached? %>
        <img src=<%= drone.photo.url %>  alt= <%= drone.photo.name %> >
      <% else %>
        <img src=<%= drone.photo_url %>  alt= <%= drone.photo.name %> >
      <% end %>
      <%# <%= cl_image_tag drone.photo.key, height: 300, width: 400, crop: :fill %>
      <h3><%= drone.name %></h3>
      <p><%= drone.description %></p>
     <p>Flight Time: <%= drone.flight_time %>min</p>
     <p>Max Altitude: <%= drone.max_altitude %>m</p>
     <p>Max Wind Resistance: <%= drone.max_wind_resistance %></p>
     <p>Max Camera Resolution: <%= drone.max_resolution %></p>
     <p>Max Flight Distance: <%= drone.max_flight_distance %>m</p>
    <strong><p>Price per day: <%= number_to_currency(drone.price_per_day, unit: "€", separator: ",", delimiter: " ", precision: 2, format: "%n %u") %></p></strong>
     <%= link_to "More details", drone_path(drone), class: "btn btn-flat" %>
    </div>
  <% end %>
</div>


