<!-- Logo -->
<body>

  <!-- NavBar -->
<div style="height: 20px;"></div>
<div style="padding: 20px;">


<!-- Buttons -->
<link rel="stylesheet" type="text/css" href="index.scss">

<!-- Button de filtrage par catégorie -->
<div id="myBtnContainer">
  <%= link_to "Show all", drones_path, class: "btn active" %>
  <%= link_to "Autonomy rating", drones_path(sort_by: "autonomy_rating"), class: "btn" %>
  <%= link_to "Stability rating", drones_path(sort_by: "stability_rating"), class: "btn" %>
  <%= link_to "Range rating", drones_path(sort_by: "range_rating"), class: "btn" %>
  <%= link_to "Camera rating", drones_path(sort_by: "camera_quality_rating"), class: "btn" %>
  <%= link_to "Price for lease", drones_path(sort_by: "price_for_lease"), class: "btn" %> <!-- filtrer prix croissant -->
  <%= link_to "Price per day", drones_path(sort_by: "price_per_day"), class: "btn" %>
</div>

<!-- Espacement -->
<div style="height: 20px;"></div>
<div style="padding: 20px;">

<div class="drone-list">
  <% @drones.each do |drone| %>
    <div class="drone">
      <img src="https://i.ibb.co/fVT07rHk/449759-240716-1519-location-autre-src.jpg" alt="<%= drone.name %>">
      <h3><%= drone.name %></h3>
      <p><%= drone.description %></p>
     <p>Stability rating:<span class="star"><%=display_rating(drone.stability_rating)%>
     <p>Range rating:<span class="star"><%=display_rating(drone.range_rating)%>
     <p>Camera quality rating:<span class="star"> <%=display_rating(drone.camera_quality_rating)%>
     <p>Price per day: <%= drone.price_per_day%>
     <strong><p>Price for lease: <%=drone.price_for_lease%></strong>

    </div>
  <% end %>
</div>
