<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1 class="font-weight-bold mb-3">Register a new drone here!</h1>
      <%= simple_form_for(@drone) do |f| %>
        <div class="form-floating mb-3">
          <%= f.input :name,
                      label: "Please give a name to your drone",
                      class: "form-control"
          %>
        </div>
        <%= f.input :description, label: "Please describe your drone", input_html: { rows: 5} %>
        <div class="row">
          <div class="col">
            <%= f.input :price_per_day, label: "Price per day ($)", input_html: { min: 0 } %>
            <%= f.input :max_flight_distance, label: "Max Flight Distance (in meter)", input_html: { min: 0 } %>
          </div>
          <div class="col">
            <%= f.input :flight_time, label: "Autonomy of your drone (in min)", input_html: { min: 0 }%>
            <%= f.input :max_altitude, label: "Max Altitude (in m)", input_html: { min: 0 } %>
          </div>
          <div class="col">
            <%= f.input :max_wind_resistance, label: "Max Wind Resistance (m/s)", input_html: { min: 0 } %>
            <%= f.input :max_resolution, label: "Max Camera Resolution (Mpx)", input_html: { min: 0 } %>
          </div>
          <div class="col-12">
            <%= f.input :photo, label: "Add a photo for your drone", as: :file %>
          </div>
          <%= f.submit "Add your drone to rent", class: "btn btn-outline-success" %>
        </div>
        
      <% end %>
    </div>
  </div>
</div>
