
<div class="container mt-5" data-controller="totalprice">
  <div class="row">
    <div class="col-8 card-height-control">
        <div class="card-category">
          <div class="dronecard">
              <div class="wrapper">
                <img src="https://res.cloudinary.com/dszwbrhu1/image/upload/v1741280486/d0_Kd9rwV_u_m6t4ue.png" class="cover-image" />
              </div>
              <img src="https://res.cloudinary.com/dszwbrhu1/image/upload/v1741280630/d0_Kd9rwV_u_1_uyxdgs.png" class="character" />
          </div>
        </div>
        <div class="card-product-infos">
          <h1><%= @drone.name %></h1>
          <h2><strong>Owner: </strong><%= @drone.owner.name %>  <%= @drone.owner.last_name %></h2>
          <h2><strong>Description: </strong></h2>
          <p><%= @drone.description %></p>
        </div>
    </div>

    <div class="col-4 align-items-stretch card-height-control">
      <div class="drone-price">
        Price Per Day <span><strong data-totalprice-target="priceday"><%= @drone.price_per_day %></strong> €</span>
      </div>
      <div id="drone-caracs" class="card-product-infos">
        <h2><strong>Drone characteristics</strong></h2>
        <ul>
          <li>Flight Time (minutes)    : <%= @drone.flight_time %></li>
          <li>Max Altitude (m)         : <%= @drone.max_altitude %></li>
          <li>Max Wind Resistance (m/s): <%= @drone.max_wind_resistance %></li>
          <li>Max Resolution (Mpx)     : <%= @drone.max_resolution %></li>
          <li>Max Flight Distance (m)  : <%= @drone.max_flight_distance %></li>
        </ul>
      </div>
      <div class="booking">
        <h5>Réservation</h5>
            <!-- CALENDRIER -->
        <%= render "bookings/form"%>
      </div>
    </div>

  </div>
</div>
