
<div class="container">
  <div class="row justify-content-center">

    <div class="col-8">
      <div class="card" >
        <%= image_tag "drone.png" %>
        <div class="card-body">
          <h5 class="card-title">Drone Name : <%= @drone.name %></h5>
          <p class="card-text">Description : <%= @drone.description %></p>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div style="text-align: center;">
              <h5 class="card-title">Price per day: <%= @drone.price_per_day  %>€</h5>
              <p class="card-text"><%= @drone.category %></p>
            </div>
          </div>


          <div class="card-body">
            <ul>
              <li style="text-align: left">Autonomy: <span class=“star”><%=display_rating(@drone.autonomy_rating)%>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <ul>
              <li style="text-align: left">Stability: <span class=“star”><%=display_rating(@drone.stability_rating)%>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <ul>
              <li style="text-align: left">Camera Quality: <span class=“star”><%=display_rating(@drone.camera_quality_rating)%>
              </li>
            </ul>
          </div>

          <div class="card-body">
            <ul>
              <li style="text-align: left">Range: <span class=“star”><%=display_rating(@drone.range_rating)%>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-12">
        <div class="card" >
          <div class="card-header">
            <h5>Réservation</h5>
            <!-- CALENDRIER -->
            <%= simple_form_for(@booking, method: :post, url:drone_bookings_path(@drone)) do |f| %>

                <%= f.input :starting_date,  as: :string,
            input_html: { data: { controller: "datepicker" } } %>

                <%= f.input :ending_date,  as: :string,
            input_html: { data: { controller: "datepicker" } } %>

                <%= f.submit "Book Now", class:"btn btn-outline-success" %>
            <% end %>
         </div>
        </div>
      </div>
    </div>

    <!-- Carte loc début -->

  </div>


  <div class="row mt-3  g-2">

    <!-- Fin de la row -->
     <!-- Fin de la container -->
      <div class="col-sm-3" >
        <div class="card">
          <div class="card-header">
            <h5>USER</h5>
          </div>
          <div class="card-body">
            <p>Commentaire</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3" >
        <div class="card">
          <div class="card-header">
            <h5>USER</h5>
          </div>
          <div class="card-body">
            <p>Commentaire</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3" >
        <div class="card">
          <div class="card-header">
            <h5>USER</h5>
          </div>
          <div class="card-body">
            <p>Commentaire</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3" >
        <div class="card">
          <div class="card-header">
            <h5>USER</h5>
          </div>
          <div class="card-body">
            <p>Commentaire</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3" >
        <div class="card">
          <div class="card-header">
            <h5>USER</h5>
          </div>
          <div class="card-body">
            <p>Commentaire</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3" >
        <div class="card">
          <div class="card-header">
            <h5>USER</h5>
          </div>
          <div class="card-body">
            <p>Commentaire</p>
          </div>
        </div>
      </div>


  </div>
</div>
